/*
#bp{
    -fx-background-color:#EAE0CC;
}

#add_button{



}
#root{
    -fx-background-color:#2f3f52;
}
#finish
{
-fx-background-color:#2ecc71;
}

#nodes_list,#container_list,#relations_list
{
-fx-background-color:#e5e5e5;

}
.label
{
-fx-background-color:#ffffff;

}
#ner_container .label
{
-fx-background-color:none;

}
#relation_container .label
{
-fx-background-color:none;

}
#ner_container
{
-fx-background-color:white;
-fx-border-color:#000000;
-fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
}

#relation_container
{
-fx-background-color:white;
-fx-border-color:#000000;
-fx-border-radius: 10 10 10 10;
-fx-background-radius: 10 10 10 10;
}

#workspace
{

}
*/

#top
{
-fx-background-color:#333333;
}

.list-cell
 {

     -fx-text-fill: white;
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-font-weight: bold;
 }

.ner_container

{
       -fx-background-color:#333333;
}

.relation
{
     -fx-border-color:#009245;
-fx-border-width:3px;
-fx-border-radius: 10;

}
.ner
{
     -fx-border-color:#ed1e79;
-fx-border-width:3px;
-fx-border-radius: 10;

}
.bar
{
    -fx-background-color:#990099;

}

.validate
{
    -fx-background-color:#990099;


}
 .container
 {
      -fx-background-color:   #990099;
 }

 .nodes
 {
        -fx-background-color:   #ed1e79;
 }

 .relations
  {
         -fx-background-color:   #009245;
  }

  #finish
  {
  -fx-background-color:#333333;
  }

